<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<title>Login V6</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/static/welcome_page/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/welcome_page/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/welcome_page/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/welcome_page/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/welcome_page/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/welcome_page/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/welcome_page/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/welcome_page/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/static/welcome_page/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/welcome_page/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/welcome_page/css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-15 p-b-20">
				<form class="login100-form validate-form" method="post" action="/feedBack"> {% csrf_token %}
					<span class="login100-form-title">
						<a href="/">
							<img src="/static/welcome_page/images/footer-logo.png" alt="">
						</a>					</span>
					{% if message %}
						<h3 style="color: green; margin-top: 5px;">{{ message }}</h3>
					{% endif %}

					<div class="wrap-input100 validate-input m-t-15 m-b-35">
						<input class="input100" type="text" name="name">
						<span class="focus-input100" data-placeholder="نام و نام خانوادگی"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-35">
						<input class="input100" type="text" name="subject">
						<span class="focus-input100" data-placeholder="عنوان"></span>
					</div>

					
					<div class="wrap-input100 validate-input m-b-35">
						<input class="input100" type="email" name="email">
						<span class="focus-input100" data-placeholder="ایمیل"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" >
						<input class="input100" type="tel" name="phone">
						<span class="focus-input100" data-placeholder="شماره تلفن"></span>
					</div>
					
					<p class="tp_text">توضیحات</p>
					<div class="wrap-input100 validate-input m-b-50">
						<textarea class="form-control" rows="8" name="description">
                        </textarea>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							ثبت اطلاعات
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/static/welcome_page/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/welcome_page/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/welcome_page/vendor/bootstrap/js/popper.js"></script>
	<script src="/static/welcome_page/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/welcome_page/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/static/welcome_page/vendor/daterangepicker/moment.min.js"></script>
	<script src="/static/welcome_page/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/static/welcome_page/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/static/welcome_page/js/main.js"></script>

</body>
</html>