<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>rating form</title>
    <link rel="stylesheet" href="./style/style.css" type="text/css">
    <link rel="stylesheet" href="./vendor/bootstrap.min.css" type="text/css">
</head>
<body>

<div id="app" class="row m-0">
    <Cs50>
        <h1 class="cs-title">فرم ثبت نظر پشتیبان های علمی</h1>
        <p class="cs-content" dir="rtl">
            من
            <input type="text" name="name" class="t1 cs1" maxlength="35" placeholder="نام و نام خانوادگی">
            با کد ایوند
            <input type="text" name="token" class="t1 cs2" maxlength="10" placeholder="XXXXXX">
            از
            <select class="form-select t2" name="supporter" aria-label="پشتیبان">
                <option selected>پشتیبان</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            راضی
            <select class="form-select t2" name="status" aria-label="پشتیبان">
                <option value="1" selected>هستم</option>
                <option value="2">نیستم</option>
            </select>
        </p>

        <textarea placeholder="به دلیل" name="description" class="t3"></textarea>

        <input class="form-control t4" name="image" type="file" id="formFileMultiple">

        <button class="t5">ثبت</button>
    </Cs50>
</div>

<script src="./vendor/vue.global.js"></script>
<script src="./vendor/bootstrap.bundle.min.js"></script>
<script src="./app.js"></script>
</body>
</html>